<div class="edit-box-for-cards">
  <div class="hidden-md hidden-lg">
    <div class="swiper-container swiper-cont">
        <div class="swiper-wrapper">
        <% @user.user_images.take(6).each do |photo| %>
            <div class="swiper-slide avatar-photo" style="background-image: url(<%= photo.small_url %>)">
             <%= link_to "", edit_photo_path(photo), class: "link-image-edit" %> </div>
        <% end %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>

<div class="container edit-attributes">

  <div class="single-attribute">
    <h4 class="attribute-title">What I'm into</h4>
    <div class="attribute-body">
      <p>
        <%= @user.desc_test1 %>
      </p>
      <div data-toggle="modal" data-target="#desc_test1Modal" data-content="desc_test1">
        <a class="edit-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>
      </div>
    </div>
  </div>

  <div class="single-attribute">
    <h4 class="attribute-title">Where I am</h4>
    <div class="attribute-body">
      <p>
        <%= @user.desc_test2 %>
      </p>
      <div data-toggle="modal" data-target="#desc_test2Modal" data-content="desc_test2">
        <a class="edit-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>
      </div>
    </div>
  </div>

</div>


<div class="text-center remove-profile">
  <%= link_to "Remove your profile", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>

<!-- Here be modals -->
<div class="modal fade modal-edit" id="desc_test1Modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for @user, :url => profile_path(@user), :method => :patch do |f| %>
        <%= f.input :desc_test1, input_html: { rows: '10', class: "input-no-resize"} %>
      </div>
      <div class="modal-footer footer-flexbox">
        <%= f.button :submit, "Save", class: 'btn btn-success show-navbar' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-edit" id="desc_test2Modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for @user, :url => profile_path, :method => :patch do |f| %>
        <%= f.input :desc_test2, input_html: { rows: '5', class: "input-no-resize"} %>
      </div>
      <div class="modal-footer footer-flexbox">
        <%= f.button :submit, "Save", class: 'btn btn-success show-navbar' %>
        <% end %>
      </div>
    </div>
  </div>
</div>



    <!-- Initialize Swiper -->
  <% content_for(:after_js) do %>
    <script>
        var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 30,
        freeMode: true
    });

    // $(document).ready(function(){
    //   $(".edit-button").click(function(e) {
    //     $(".navbar-meteor").addClass("hidden");
    //   });

    //   $(".show-navbar").click(function(e) {
    //     $(".navbar-meteor").removeClass("hidden");
    //   })
    // })
    </script>
  <% end %>
