<% content_for(:title_tag) do %>
  Edit Your Profile - Meteor
<% end %>

<div class="edit-box-for-cards">
  <div>
    <div class="swiper-container swiper-edit">
        <div class="swiper-wrapper">
        <% @user_images.each do |photo| %>
            <div class="swiper-slide avatar-photo" style="background-image: url(<%= photo.small_url %>)">
             <%= link_to "", profile_user_image_path(@user,photo), class: "link-image-edit" %> </div>
        <% end %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>

<div class="container edit-attributes">

  <div class="single-attribute">
    <h4 class="attribute-title">Course</h4>
    <div class="attribute-body">
      <p>
        <%= @user.course %>
      </p>
      <div data-toggle="modal" data-target="#courseModal" data-content="courseModal">
        <a class="edit-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>
      </div>
    </div>
  </div>

  <div class="single-attribute">
    <h4 class="attribute-title">College</h4>
    <div class="attribute-body">
      <p>
        <%= @user.college %>
      </p>
      <div data-toggle="modal" data-target="#collegeModal" data-content="collegeModal">
        <a class="edit-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>
      </div>
    </div>
  </div>

  <div class="single-attribute">
    <h4 class="attribute-title">What I'm into</h4>
    <div class="attribute-body">
      <p>
        <%= @user.what_im_into %>
      </p>
      <div data-toggle="modal" data-target="#what_im_intoModal" data-content="what_im_intoModal">
        <a class="edit-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>
      </div>
    </div>
  </div>

  <div class="single-attribute">
    <h4 class="attribute-title">What I'm looking for</h4>
    <div class="attribute-body">
      <p>
        <%= @user.looking_for %>
      </p>
      <div data-toggle="modal" data-target="#looking_forModal" data-content="looking_forModal">
        <a class="edit-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>
      </div>
    </div>
  </div>

</div>


<div class="text-center remove-profile">
  <%= link_to "Remove your profile", profile_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>
</div>

<!-- Here be modals -->
<div class="modal fade modal-edit" id="courseModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for @user, :url => profile_path(@user), :method => :patch do |f| %>
        <%= f.input :course, label: "Course", input_html: { rows: '10', class: "input-no-resize"} %>
      </div>
      <div class="modal-footer footer-flexbox">
        <%= f.button :submit, "Save", class: 'btn btn-success show-navbar' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-edit" id="collegeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for @user, :url => profile_path, :method => :patch do |f| %>
        <%= f.input :college, label: "College", input_html: { rows: '5', class: "input-no-resize"} %>
      </div>
      <div class="modal-footer footer-flexbox">
        <%= f.button :submit, "Save", class: 'btn btn-success show-navbar' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-edit" id="looking_forModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for @user, :url => profile_path(@user), :method => :patch do |f| %>
        <%= f.input :looking_for, label: "What I'm looking for", input_html: { rows: '10', class: "input-no-resize"} %>
      </div>
      <div class="modal-footer footer-flexbox">
        <%= f.button :submit, "Save", class: 'btn btn-success show-navbar' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-edit" id="what_im_intoModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for @user, :url => profile_path(@user), :method => :patch do |f| %>
        <%= f.input :what_im_into, label: "What I'm into", input_html: { rows: '10', class: "input-no-resize"} %>
      </div>
      <div class="modal-footer footer-flexbox">
        <%= f.button :submit, "Save", class: 'btn btn-success show-navbar' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
