<!-- <div class="onboard-wrapper"> -->
  <!-- Slider main container -->
  <div class="swiper-container swiper-onboard">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                  <%= simple_form_for @user, remote: true, :url => profile_path(@user), :method => :patch do |f| %>
                  <%= f.input :course, label: "What are you working on right now?", placeholder: 'Studying philosophy at Oxford' %>
                  </div>
                  <div class="card-footer">
                    <%= f.button :submit, "Next", class: 'btn btn-primary btn-block' %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                  <%= simple_form_for @user, remote: true, :url => profile_path(@user), :method => :patch do |f| %>
                  <%= f.input :what_im_into, label: "How would your friends describe you?", placeholder: 'Studying philosophy at Oxford andfdsajfkdsjafjdks fdsafjdsakfjkdsjafkj fdsfdsjfj d dsfkdjf dfdhfa jdsjf jf ffjfdsjaifj djfdsajf djs jijdsu dijidk dej dajifjdij' %>
                  </div>
                  <div class="card-footer">
                    <%= f.button :submit, "Next", class: 'btn btn-primary btn-block' %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                    <%= simple_form_for @user, remote: true, :url => profile_path(@user), :method => :patch do |f| %>
                    <%= f.input :gender_preferences, as: :check_boxes, collection: ["male", "female", "non_binary"] %>
                  </div>
                  <div class="card-footer">
                    <%= f.button :submit, "Done", class: 'btn btn-primary btn-block' %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>

      </div>

      <div class="swiper-button-next onboard-next hide"></div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

  </div>
<!-- </div> -->


