<% content_for(:title_tag) do %>
  Your Profile Onboarding - Meteor
<% end %>

<!-- <div class="onboard-wrapper"> -->
  <!-- Slider main container -->
  <div class="swiper-container swiper-onboard">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                  <%= simple_form_for @user, remote: true, :url => profile_path(@user), :method => :patch do |f| %>
                  <%= f.input :course, label: "What are you studying?", placeholder: 'Studying philosophy at Oxford' %>
                  </div>
                  <div class="card-footer">
                    <%= f.button :submit, "Next", class: 'btn btn-primary btn-block' %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                  <%= simple_form_for @user, remote: true, :url => profile_path(@user), :method => :patch do |f| %>
                  <%= f.input :what_im_into, label: "Add a Bio", placeholder: '' %>
                  </div>
                  <div class="card-footer">
                    <%= f.button :submit, "Next", class: 'btn btn-primary btn-block' %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card-container">
              <div class="card onboard-card">
                  <div class="card-body">
                    <%= simple_form_for @user, :url => profile_path(@user), :method => :patch do |f| %>
                    <%
                      genders = [
                        [ 'male', 'Men' ],
                        [ 'female', 'Women' ],
                        [ 'non_binary', 'Other' ]
                      ]
                    %>
                    <%= f.input :gender_preferences, label: "I'm interested in", as: :check_boxes,
                          collection: genders,
                          value_method: :first,
                          label_method: :last %>
                  </div>
                  <div class="card-footer">
                    <%= f.button :submit, "Done", class: 'btn btn-primary btn-block' %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>

      </div>

      <div class="swiper-button-next onboard-next hide"></div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

  </div>
<!-- </div> -->


