<% content_for(:title_tag) do %>
  <%= "#{@user.first_name}'s Profile" %> - Meteor
<% end %>

<div class="hidden-md hidden-lg">
  <div class="swiper-container swiper-show-card">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <!-- test slide below -->
          <div class="swiper-slide banner-photo-show" style="background-image: url(<%= image_path (@user.user_images.first&.medium_url || @user.facebook_picture_url) %>);" ></div>
          <!-- end of test slide -->
          <% @user.user_images.drop(1).each do |image| %>
            <div class="swiper-slide banner-photo-show" style="background-image: url( <%= image_path image.medium_url %>);" ></div>
          <% end %>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-pagination-white swiper-show-card"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev swiper-show-card"></div> -->
      <!-- <div class="swiper-button-next swiper-show-card"></div> -->

      <!-- If we need scrollbar -->
  </div>
</div>


<div class="hidden-sm hidden-xs">
  <!-- TODO lightbox2 gallery -->
  <div class="profile-gallery">
    <% @user.user_images.each_with_index do |photo, n| %>

      <a href="<%= image_path photo.url %>" data-lightbox="image-profile" data-title="My caption">
        <div class="profile-gallery-img" style="background-image: url(<%= image_path photo.url %>);">
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="container profile-content">

  <div class="profile-titles">
    <div class="user-title">
      <p><%= @user.first_name %>, <%= @user.age %><p>
<!--       <p><%= @user.subject %></p> -->
      <div class="user-course-col">
        <% if @user.course %>
          <p><%= @user.course %>, <%= @user.college %></p>
        <% end %>
      </div>
    </div>
    <div class="match-percentage">
    </div>
  </div>


  <div class="profile-attributes">
    <h3>What I'm into</h3>
    <p>
    <%= @user.what_im_into %>
<!--       Currently studying History of Art, and looking for a serious relationship. My interests include History, Art, and relationships.

      I like coming up with big ideas and then bring them to life. Love good music. I have a passion for architecture. Always eager to learn new things.

      Free to chat and meet up on campus at any time! -->
    </p>
  </div>

  <div class="profile-attributes">
    <h3>What I'm looking for</h3>
    <p>
    <%= @user.looking_for %>
    </p>
  </div>

</div>

<% if current_user.likes_user(@user) == [] %>

  <div class="buttons">

    <%=link_to profile_dislikes_path(@user), method: :post do %>
      <div class="no match-choice-btn">
        <%= image_tag("no-btn.png") %>
      </div>
    <% end %>

    <%= link_to profile_matches_path(@user), method: :post do %>
      <div class="like match-choice-btn">
        <%= image_tag("like-btn.png") %>
      </div>
    <% end %>

  </div>
<% end %>


<% content_for(:after_js) do %>

<% end %>
