<% content_for(:title_tag) do %>
  <%= "#{@user.first_name}'s Profile" %> - Meteor
<% end %>

<div class="hidden-md hidden-lg">

  <div id="carousel-<%= @user.id %>" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @user.user_images.each_with_index do |photo, n| %>
        <li data-target="carousel-<%= @user.id %>" data-slide-to="#{n}" class="#{active if n == 0}"></li>
      <% end %>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="banner-photo-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (@user.user_images.first&.url || "http://www.clker.com/cliparts/3/X/C/D/x/n/smiley-face.svg")%>);">  </div>
      </div>

      <% @user.user_images.drop(1).each do |image| %>
        <div class="item">
          <div class="banner-photo-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path image.url %>);"> </div>
        </div>
      <% end %>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-<%= @user.id %>" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-<%= @user.id %>" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $('.carousel').carousel({
      interval: false
    })
  </script>
<% end %>

<div class="hidden-sm hidden-xs">
  <!-- TODO lightbox2 gallery -->
  <div class="profile-gallery">
    <% @user.user_images.each_with_index do |photo, n| %>

      <a href="<%= image_path photo.url %>" data-lightbox="image-profile" data-title="My caption">
        <div class="profile-gallery-img" style="background-image: url(<%= image_path photo.url %>);">
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="container profile-content">

  <div class="profile-titles">
    <div class="user-title">
      <p><%= @user.first_name %>, <%= @user.age %><p>
      <p><%= @user.subject %></p>
    </div>
    <div class="match-percentage">
      84% match
    </div>
  </div>


  <div class="profile-attributes">
    <h3>What I'm into</h3>
    <p>
    <%= @user.description %>
      Currently studying History of Art, and looking for a serious relationship. My interests include History, Art, and relationships.

      I like coming up with big ideas and then bring them to life. Love good music. I have a passion for architecture. Always eager to learn new things.

      Free to chat and meet up on campus at any time!

    </p>
  </div>

  <div class="profile-attributes">
    <h3>What I'm doing now</h3>
    <p>
    <%= @user.desc_test2 %>
    </p>
  </div>

  <div class="profile-attributes">
    <h3>What I'm looking for</h3>
    <p>
    <%= @user.desc_test3 %>
    </p>
  </div>

</div>

<div class="buttons">

  <%= link_to profiles_path do %>
    <div class="no match-choice-btn">
      <%= image_tag("no-btn.png") %>
    </div>
  <% end %>

  <%= link_to match_path, method: :post do %>
    <div class="like match-choice-btn">
      <%= image_tag("like-btn.png") %>
    </div>
  <% end %>

</div>
