<div class="wrapper1">
  <div class="top-scroll">
    <% @unstarted.each do |convo| %>

      <div class="avatar-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path convo.match.other_user(current_user).user_images.first&.small_url || convo.match.other_user(current_user).facebook_picture_url %>);">
      <%= link_to "", conversation_path(convo), class: "avatar-link" %>
      </div>
    <% end %>
  </div>
</div>

<div class="messages-box">
  <% @started.sort_by { |conv| conv.messages.last.created_at }.reverse.each do |convo| %>
    <div class="single-message">
      <div class="avatar-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path convo.match.other_user(current_user).user_images.first&.small_url || convo.match.other_user(current_user).facebook_picture_url %>);">
      </div>
      <div class="messagess-body">
        <p><strong><h5> <%= convo.match.other_user(current_user).first_name %> </h5></strong></p>

        <p class=""> <%= convo.messages.last.content %> </p>


      </div>
      <%= link_to "", conversation_path(convo), class: "message-link-new" %>
    </div>
  <% end %>
</div>


<%= content_for(:after_js) do %>
  <script>
    App['user_<%= @user.id %>'] = App.cable.subscriptions.create(
      { channel: 'UsersChannel', user_id: <%= @user.id %> },
      {
        received: (data) => {
          console.log(data);
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messagess-body.convo-text');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
        }}})
  </script>
<% end %>




<!-- <script>
  setTimeout(window.location.reload(), 5000);
</script>
 -->






