<%= link_to profile_path(user) do %>
  <div id="carousel-<%= user.id %>" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% user.user_images.each_with_index do |photo, n| %>
        <li data-target="carousel-<%= user.id %>" data-slide-to="#{n}" class="#{active if n == 0}"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path user.user_images.first.url %>);">  </div>
        <div class="carousel-caption card-content">
          <h3> <%= user.first_name %>,  <%= user.age %> </h3>
          <p> <%= user.subject  %> </p>
        </div>
      </div>

      <% user.user_images.drop(1).each do |image| %>
        <div class="item">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path image.url %>);"> </div>
          <div class="carousel-caption card-content">
            <h3> <%= user.first_name %>,  <%= user.age %>  </h3>
            <p> <%= user.subject %> </p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-<%= user.id %>" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-<%= user.id %>" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $('.carousel').carousel({
      interval: false
    })
  </script>
<% end %>

