<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <%# profile.images???.each_with_index |photo, n| %>
      <!-- <li data-target="#MyCarousel" data-slide-to="#{n}" class="#{active if n == 0}"></li> -->
    <%# end %>

    <!-- Dont need this for real thing -->
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

      <!-- Put in item active -->

      <%# profile.images???.each do |photo| %>
       <!--  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%# image_path PHOTO?? %>);">  </div> -->
      <%# end %>
       <!-- <div class="carousel-caption card-content">
        <h3> <%# profile.first_name |  %>,  profile.age?  19 </h3>
        <p> <%# profile.course  %> </p>
      </div> -->


      <%# profile.images??.drop(1).each do |photo|  %>
        <!-- Start item div -->
         <!--  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%# image_path PHOTO?? %>);"> </div>
          <div class="carousel-caption card-content">
            <h3> <%# profile.first_name   %>,  profile.age?  19 </h3>
            <p> <%# profile.course  %> </p>
          </div> -->
        <!-- End item div   -->
      <%# end %>



  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "grill" %>);"> </div>
      <div class="carousel-caption card-content">
        <h3> <%= profile.first_name ||= "Veronica"  %>,  <!-- profile.age? -->  19 </h3>
        <p> <%= profile.course ||= "Economics" %> </p>
      </div>
    </div>

    <div class="item">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "grill" %>);"> </div>
      <div class="carousel-caption card-content">
        <h3> <%= profile.first_name ||= "Veronica"  %>,  <!-- profile.age? -->  19 </h3>
        <p> <%= profile.course ||= "Economics" %> </p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
