<div id="carousel-<%= user.id %>" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <%= user.user_image.each_with_index |photo, n| do %>
      <li data-target="carousel-<%= user.id %>" data-slide-to="#{n}" class="#{active if n == 0}"></li>
    <% end %>
  </ol>

      <!-- Put in item active -->

      <%# user.images???.each do |photo| %>
       <!--  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%# image_path PHOTO?? %>);">  </div> -->
      <%# end %>
       <!-- <div class="carousel-caption card-content">
        <h3> <%# user.first_name |  %>,  user.age?  19 </h3>
        <p> <%# user.course  %> </p>
      </div> -->


      <%# user.images??.drop(1).each do |photo|  %>
        <!-- Start item div -->
         <!--  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%# image_path PHOTO?? %>);"> </div>
          <div class="carousel-caption card-content">
            <h3> <%# user.first_name   %>,  user.age?  19 </h3>
            <p> <%# user.course  %> </p>
          </div> -->
        <!-- End item div   -->
      <%# end %>



  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% user.user_image.each do |photo| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path photo.url %>);">  </div>
    <% end %>
    <div class="carousel-caption card-content">
      <h3> <%= user.first_name ||= "Veronica"  %>,  19 </h3>
      <p> <%= "Economics"  %> </p>
    </div>
  </div>

    <div class="item">
      <%= user.user_image.drop(1).each do |image| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path image.url %>);"> </div>
      <% end %>
      <div class="carousel-caption card-content">
        <h3> <%= user.first_name ||= "Veronica"  %>,  <!-- user.age? -->  19 </h3>
        <p> <%= "Economics" %> </p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-<%= user.id %>" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-<%= user.id %>" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $('.carousel').carousel({
      interval: false
    })
  </script>
<% end %>
