<div class="navbar-meteor" style="background-color: <%= current_user&.community.brand_color || '#FFE270' %>;">
<!-- NAVBAR ON PROFILE SETTINGS -->
    <!-- Link to save LEFT icon -->
    <div class="navbar-meteor-left">
      <% if user_signed_in? %>
        <%= link_to profiles_path, class: "navbar-meteor-item navbar-meteor-link" do %>
          <i class="material-icons">keyboard_arrow_left</i>
        <% end %>
        <% else %>
        <!-- Login link (when logged out) -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-meteor-item navbar-meteor-link" %>
      <% end %>
    </div>
    <!-- text CENTER -->
    <div id="edit-text-nav">
      <p>Edit your profile</p>
    </div>
    <!-- Link back RIGHT icon -->
    <div class="navbar-meteor-right">
      <% if user_signed_in? %>
      <%= link_to profiles_path, class: "navbar-meteor-item navbar-meteor-link" do  %>
        <i class="material-icons">done</i>
      <% end %>
      <% else %>
      <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-meteor-item navbar-meteor-link" %>
      <% end %>
    </div>
</div>
