<div class="navbar-meteor <%= 'navbar-transparent' if params[:controller] == 'pages' %>">
  <!-- Dropdown list appearing on mobile only LEFT icon-->
  <% if user_signed_in? %>
  <div class="navbar-meteor-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="material-icons" data-toggle="dropdown">menu</i>
      <ul class="dropdown-menu dropdown-menu-left navbar-meteor-dropdown-menu">
        <li><%= link_to "Edit Profile", edit_profile_path(current_user.id) %> </li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
          <%= t(".sign_out", default: "Log out") %>
        <% end %></li>
      </ul>
    </div>
  </div>
  <!-- Dropdown list appearing on desktop only LEFT avatar-->
  <div class="navbar-meteor-item hidden-xs">
    <div class="dropdown">
     <div class="avatar dropdown-toggle" data-toggle="dropdown" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path current_user.user_images.first&.small_url || current_user.facebook_picture_url %>);"> </div>
      <ul class="dropdown-menu dropdown-menu-left navbar-meteor-dropdown-menu">
        <li><%= link_to "Edit profile", edit_profile_path(current_user.id) %> </li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
          <%= t(".sign_out", default: "Log out") %>
        <% end %></li>
      </ul>
    </div>
  </div>
  <% end %>

  <!-- Logo and name CENTER -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <p><%= cl_image_tag "meteor-icon_mtg2vp", height: 32 %> Meteor</p>
  <% end %>

  <!-- Links when logged in to messages desktop RIGHT text -->
  <div class="navbar-meteor-center hidden-xs">
    <% if user_signed_in? %>
      <%= link_to "messages", conversations_path, class: "navbar-meteor-item navbar-meteor-link" %>
    <% else %>
      <!-- Login link (when logged out) -->
      <% devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "login", omniauth_authorize_path(resource_name, provider), class: "navbar-meteor-item navbar-meteor-link"%>
        <% end -%>
      <% end -%>
    </div>

  <!-- Links when logged in to messages mobile RIGHT icon -->
  <div class="navbar-meteor-right hidden-sm hidden-md hidden-lg">
    <% if user_signed_in? %>
      <%= link_to conversations_path, class: "navbar-meteor-item navbar-meteor-link" do %>
        <i class="material-icons">chat</i>
      <% end %>
    <% else %>
    <!-- Login link (when logged out) -->

      <% devise_mapping.omniauthable? %>
        <% resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "login", omniauth_authorize_path(resource_name, provider), class: "navbar-meteor-item navbar-meteor-link"%>
        <% end %>
      <% end %>

  </div>

  <!-- NAVBAR ON MESSAGE SHOW -->

  </div>
</div>
