<div class="navbar-meteor">
  <!-- Dropdown list appearing on mobile only LEFT icon-->
  <div class="navbar-meteor-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle navbar-meteor-link" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-left navbar-meteor-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
  <!-- Dropdown list appearing on desktop only LEFT avatar-->
  <div class="navbar-meteor-item hidden-xs hidden-sm">
    <div class="dropdown">
     <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" data-toggle="dropdown">
      <ul class="dropdown-menu dropdown-menu-left navbar-meteor-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <!-- Logo and name CENTER -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <p><%= image_tag "comet.png" %> Meteor</p>
  <% end %>

  <!-- Links when logged in to messages desktop RIGHT text -->
  <div class="navbar-meteor-center hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to "messages", "#", class: "navbar-meteor-item navbar-meteor-link" %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-meteor-item navbar-meteor-link" %>
    <% end %>
  </div>

  <!-- Links when logged in to messages mobile RIGHT icon -->
  <div class="navbar-meteor-right hidden-md hidden-lg">
    <% if user_signed_in? %>
    <a href="#" class="navbar-meteor-item navbar-meteor-link"><i class="fa fa-commenting"></i></a>
    <% else %>
    <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-meteor-item navbar-meteor-link" %>
    <% end %>
  </div>

  <!-- NAVBAR ON MESSAGE SHOW -->

</div>
