<div class="navbar-meteor <%= 'navbar-transparent' if params[:controller] == 'pages' %>" style="background-color: <%= current_user&.community&.brand_color || '#FFE270' %>;">
  <!-- Dropdown list appearing on mobile only LEFT icon-->
  <% if user_signed_in? %>
  <div class="navbar-meteor-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="material-icons" data-toggle="dropdown">menu</i>
      <ul class="dropdown-menu dropdown-menu-left navbar-meteor-dropdown-menu">
        <li><%= link_to "Edit Profile", edit_profile_path(current_user.id) %> </li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
          <%= t(".sign_out", default: "Log out") %>
        <% end %></li>
      </ul>
    </div>
  </div>
  <!-- Dropdown list appearing on desktop only LEFT avatar-->
  <div class="navbar-meteor-item hidden-xs">
    <div class="dropdown">
     <div class="avatar dropdown-toggle" data-toggle="dropdown" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path current_user.user_images.first&.small_url || current_user.facebook_picture_url %>);"> </div>
      <ul class="dropdown-menu dropdown-menu-left navbar-meteor-dropdown-menu">
        <li><%= link_to "Edit profile", edit_profile_path(current_user.id) %> </li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
          <%= t(".sign_out", default: "Log out") %>
        <% end %></li>
      </ul>
    </div>
  </div>
  <% end %>

  <!-- Logo and name CENTER -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <p><%= cl_image_tag "meteor-icon_mtg2vp", height: 32 %><%= current_user&.community&.title || "Meteor" %></p>
  <% end %>

  <!-- Links when logged in to messages desktop RIGHT text -->
  <div class="navbar-meteor-center hidden-xs">
    <% if user_signed_in? %>
      <%= link_to "messages", conversations_path, class: "navbar-meteor-item navbar-meteor-link" %>
    <% else %>
      <!-- Login link (when logged out) -->
      <% devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "login", omniauth_authorize_path(resource_name, provider), class: "navbar-meteor-item navbar-meteor-link"%>
        <% end -%>
      <% end -%>
    </div>

  <!-- Links when logged in to messages mobile RIGHT icon -->
  <div class="navbar-meteor-right hidden-sm hidden-md hidden-lg">
    <% if user_signed_in? %>
      <%= link_to conversations_path, class: "navbar-meteor-item navbar-meteor-link" do %>
        <i class="material-icons">chat</i>
      <% end %>
    <% else %>
    <!-- Login link (when logged out) -->

      <% devise_mapping.omniauthable? %>
        <% resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "login", omniauth_authorize_path(resource_name, provider), class: "navbar-meteor-item navbar-meteor-link"%>
        <% end %>
      <% end %>

  </div>

  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
  <% if current_user %>
    // get navbar barckground color in HEX
    var bgColor = "<%= "#{current_user&.community.brand_color[1..-1]}" || 'FFE270' %>";

    // change HEX to RGB
    function hexToRgb(hex) {
        var result = /^([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }

    // define if background color is light or not
    function colourIsLight(r, g, b) {
      var a = 1 - (0.299 * r + 0.587 * g + 0.114 * b) / 255;
      console.log(a);
      return (a < 0.5);
    }

    // select element (community name)
    var communityName = document.querySelector('.navbar-brand p');
    var messages = document.querySelector('.navbar-meteor-link');
    var icon1 = document.querySelector('.navbar-meteor-item i ');
    var icon2 = document.querySelector('.navbar-meteor-link i ');
    // set the text colour
    var textColour = colourIsLight(hexToRgb(bgColor).r, hexToRgb(bgColor).g, hexToRgb(bgColor).b) ? 'black' : 'white';

    // change color accordingly
    communityName.setAttribute('style', 'color: ' + textColour);
    messages.setAttribute('style', 'color: ' + textColour);
    icon1.setAttribute('style', 'color: ' + textColour);
    icon2.setAttribute('style', 'color: ' + textColour);
  <% end %>

  </script>
<% end %>
